.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/home')
        i.fa.fa-code
        | App Developer Club
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=title=='Explore Projects'?'active':undefined)
          a(href='/explore/projects') Explore Projects
        li(class=title=='Explore Members'?'active':undefined)
          a(href='/explore/members') Explore Members
      ul.nav.navbar-nav.navbar-right
        if user
          li.dropdown(class=title=='Account Management'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src='#{user.profile.picture}')
              else
                img(src='#{user.gravatar(60)}')
              | #{user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') My Account
              li
                a(href='/account') My Projects
              li.divider
              li
                a(href='http://code.aaddcc.xyz') Code Access
              li
                a(href='http://connect.aaddcc.xyz') Member Connect
              li.divider
              li
                a(href='/logout') Logout