extends ../layout

block content
  - var parsedProject = JSON.parse(projectFound);
  - var parsedTeamMembers = JSON.parse(teamMembers);

  .row
    .page-header
      h3.solo-project-title #{parsedProject.title}

  .row.solo-project
      p #{parsedProject.description}
      a.btn.btn-default(href='/explore/members', role='button') Visit Website »

  .row
    .page-header
      h3 #{parsedProject.title}'s Creators

  .row
    each teamMember in parsedTeamMembers
      .col-sm-4
        .member
          a(href='/explore/members/' + teamMember.memberID)
          .row
            p.member-name #{teamMember.name}
            img(src="#{teamMember.propic}", class='profile', width='100', height='100')
            p.member-tagline #{teamMember.tagline}

